<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= team.photo.attached? ? cl_image_path(team.photo.key, height: 300, crop: :fill) : image_path('basketballbanner.jpg')%>)">
  <%= team.name %>
</div>
